In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
latest_news = soup.find('div', class_="list_text")

In [6]:
news_title = latest_news.find('a').text
news_title

"Catch NASA's JPL at the Clippers SciFest This Weekend"

In [7]:
news_p = latest_news.find('div', class_="article_teaser_body").text
news_p

"Students and families can meet a Mars rover, take a virtual tour through our solar system and explore alien worlds with NASA's Jet Propulsion Laboratory at the Clippers SciFest SoCal."

# JPL Featured Image

In [11]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [12]:
featured_img_button = browser.find_by_id('full_image')
featured_img_button.click()

In [13]:
browser.is_element_present_by_text('more info', wait_time=1)
more_info_button = browser.find_link_by_partial_text('more info')
more_info_button.click()

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [19]:
img_url = soup.select_one('figure.lede a img').get('src')
img_url

'/spaceimages/images/largesize/PIA09113_hires.jpg'

In [21]:
#To get complete url
featured_img_url = f'https://www.jpl.nasa.gov{img_url}'
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA09113_hires.jpg'

# Mars Weather

In [22]:
#Visit browser to Mars Twitter account
url ='https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [23]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [24]:
weather_latest_tweet = soup.find('div', attrs={"class": "tweet",
                                            "data-name": "Mars Weather"
                                            })

In [25]:
mars_weather = weather_latest_tweet.find('p', 'tweet-text').text
mars_weather

'InSight has detected microseisms for the first time on another planet https://www.hou.usra.edu/meetings/lpsc2019/pdf/2246.pdf\xa0…pic.twitter.com/LNiNXEBYQY'

# Mars Hemisphere

In [3]:
url ='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [4]:
hemisphere_urls =[]

links = browser.find_by_css('a.product-item h3')
for link in range(len(links)):
    hemisphere = {}
    
    browser.find_by_css('a.product-item h3')[link].click()
    # Find a tag and extract href
    img_link = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = img_link['href']

    #Retrieve hemisphere title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    hemisphere_urls.append(hemisphere)
    
    browser.back()

In [5]:
hemisphere_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

# Mars Facts

In [6]:
import pandas as pd
df = pd.read_html('https://space-facts.com/mars/')[0]
print(df)
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [7]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [8]:
browser.quit()